
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: white;
    height: 100%;
    font-size: 18px;
    text-align: center;
}

.bodycont {
    width: 960px;
    height: 100%;
    background: #777;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bkgrd {
    background: #ebebeb;
    padding-top: 20px;
}

header, nav, footer {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
   
} 

.flex-container1 {
    width: 960px;
    display: flex;
    flex-direction: row-reverse;
    background: #777;
    margin-bottom: 5px;
}

aside {
    width: 285px;
    flex-grow: 1;
    background: #ebebeb;
    margin-top: 10px;
    margin-right: 80px;
    margin-bottom: 5px;
    margin-left: 15px;
}

section {
    width: 495px;
    background: #ebebeb;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 80px;
}

article {
    color: #ebebeb;
    background: #777;
    padding-top: 20px;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ebebeb;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
} 

.flex-container2 > h1, h2, h3 {
    color: #777;
    font-size: 18px;
    padding-top: 2px;
    margin-top: 9px;
    margin-bottom: 9px;
}

p {
    color: #777;
    background: #ebebeb;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
} 

footer {
    clear: both;
    margin-top: 10px;
}