/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {
  float: left;
  color: white;
  width: 33.3%;
  height: 60px;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: center;
  background:#666;
}

#middle {
  float: left;
  color: white;
  width: 33.3%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background:#888;
}

#right {
  float: left;
  color: white;
  width: 33.3%;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #666;
}

#full {
  width: 100%;
  height: 200px;
  clear: both;
  padding-top: 20px;
  /* padding: 20px; */
  background: #eee;
  margin-top:90px;
}

#division {
  height: 60px;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  background: #6ea3da;
  text-align: center;
  vertical-align: middle;
}

aside {
  width: 31%;
  height: 160px;
  margin-left:40px;
  margin-top: -5px;
  margin-bottom: 10px;
  padding-top: 20px;
  float: left;
  background: #fff
  
}

footer {
  width: 100%;
  height: 60px;
  padding: 20px;
  margin-top: 10px;
  clear: both;
  background: #ccc
}
