/**
 * Positioning Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

header {
    width: 100%;
    height: 60px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
}

h1 {
    text-align: left;
}

#fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 110px;
    background: #eee

}

#top {
    color: black;
    float: left;
    width: 600px;
    margin-left: 210px;
    text-align: left;
    /* height: 60px; */
    background:white;
}

#middle {
    position: relative;
    z-index: 0;
    top: 200px;
    left: 210px;
    color: black;
    width: 600px;
    /* vertical-align: bottom; */
    /* height: 150px; */
    /* padding: 20px; */
    background:#eee;
}

#absolute {
    position: absolute;
    z-index: 1;
    top: 138px;
    left: 360px;
    width: 270px;
    height: 90px;
    background: #999;

}
#bottom {
    color: black;
    width: 600px;
    /* height: 60px; */
    /* padding: 20px; */
    margin-top: 210px;
    margin-left:210px;
    text-align: left;
    background: white;
}
